
XPay SDK Sample\.xcodeproj/xcuserdata/softeamspa\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

Pods/

XPay SDK Sample\.xcworkspace/xcuserdata/softeamspa\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

XPay SDK Sample\.xcworkspace/xcshareddata/

XPay SDK Sample\.xcodeproj/xcuserdata/softeamspa\.xcuserdatad/xcschemes/
